input[type=button]
{
    width: 200px;
    height: 200px;
    font-size: 100px;
}

input[type=submit]
{
    position: fixed;
    top: 100px;
    left: 800px;
    font-size: 30px;
}

h1
{
    /*display: inline;*/
    position: fixed;
    top: 20px;
    left: 10px;
    color: white
} 

.back-button
{
 color: #EAE422
}

#boton
{
    position: fixed;
    left: 10px;
    color: #131213;
    background-color: white;
}
input[type=button]
{
background-color:#131213;
color: white
}

table
{
    /*display: inline-table;*/
    position: relative; /* Este atributo hace que se posicionen los objetos en relacion o base a la tabla */
    border: none;
    border-collapse: collapse;
    margin: auto
}

tr
{
    position: relative;
}

td
{
    position: relative;

}

td:nth-child(1)
{

  border-left: none;
  border-right: 5px solid white; 
  

}

td:nth-child(2)
{

  border-left: none;
  border-right: 5px solid white;  
  
}

tr:nth-child(1)
{

  border-top: none;
  border-bottom: 5px solid white;  
  
}


tr:nth-child(2)
{

  border-top: none;
  border-bottom: 5px solid white;  
  
}